# Dependency directories
/node_modules
/.pnp
.pnp.js

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Build output
/build

# Coverage output
/coverage

# Local environment variables
.env

# Editor specific files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
